<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ISyncService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8733/SeranfuenMirrorSyncWcfService/Service/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISyncService"
                contract="ServiceReference.ISyncService" name="BasicHttpBinding_ISyncService" />
        </client>
    </system.serviceModel>
</configuration>