<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SeranfuenMirrorSync.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ISyncService" maxReceivedMessageSize="2048000" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8733/SeranfuenMirrorSyncWcfService/Service/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISyncService"
                contract="ServiceReference.ISyncService" name="BasicHttpBinding_ISyncService" />
        </client>
    </system.serviceModel>
    <userSettings>
        <SeranfuenMirrorSync.Properties.Settings>
            <setting name="MaxStatusHistory" serializeAs="String">
                <value>10</value>
            </setting>
        </SeranfuenMirrorSync.Properties.Settings>
    </userSettings>
</configuration>